@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid px-4 text-center">
    <h1 class="display-3 mt-5">Farmacia X</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Nuestra Misión</h5>
                    <p class="card-text">En Farmacia X nos esforzamos por brindar medicamentos y servicios de salud accesibles y de la mejor calidad para la comunidad.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Nuestra Visión</h5>
                    <p class="card-text">Ser la farmacia de referencia en la región, ofreciendo un servicio personalizado y profesional que garantice la satisfacción de nuestros clientes.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <p class="lead">Est. 2024</p>
    </div>
</div>
