@{
    ViewData["Title"] = "Agregar Proveedor";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Agregar Proveedor</h1>
    <div class="card mb-4 shadow-lg">
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="codigo" class="form-label">Código</label>
                        <input type="number" class="form-control" id="codigo" placeholder="Ingrese el código">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre">
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
                    <a href="@Url.Action("Index", "Compras")" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
