@model Proyecto1IngSoftware.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Agregar Usuario";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Agregar Usuario</h1>
    <div class="card mb-4 shadow-lg">
        <div class="card-body">
            <form asp-action="AgregarUsuario" method="post">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Nombre" class="form-label"></label>
                        <input asp-for="Nombre" class="form-control" required />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Apellido1" class="form-label"></label>
                        <input asp-for="Apellido1" class="form-control" required />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Apellido2" class="form-label"></label>
                        <input asp-for="Apellido2" class="form-control" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Telefono" class="form-label"></label>
                        <input asp-for="Telefono" class="form-control" required />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Correo" class="form-label"></label>
                        <input asp-for="Correo" class="form-control" required />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Rol" class="form-label"></label>
                        <select asp-for="Rol" class="form-select" required>
                            <option value="Administrador">Administrador</option>
                            <option value="Empleado">Empleado</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Contrasena" class="form-label"></label>
                        <input asp-for="Contrasena" type="password" class="form-control" required />
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
                    <a href="@Url.Action("Index", "Usuarios")" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
